<%- include('./partials/head') %>

<section class="profile-picture-container">
  <img
    class="profile-picture"
    src="<%= people[0].image2.url %>"
    alt="Your selfie"
  />
</section>

<section class="about-me-container">
  <article class="title">
    <p><%= people[0].title %></p>
  </article>

  <article class="about-me">
    <p class="about-me-text"><%= people[0].aboutMe.text %></p>
    <a href="/work"><button class="my-button">My work</button></a>
  </article>
</section>

<p class="copyright">© Mohamed Taissate. All rights reserved</p>

<%- include('./partials/foot') %>
